{% extends 'base.html' %}

{% block title %} Login | TechFlow Tasks {% endblock %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Você não possuí acesso a essa página.</p>
    {% else %}
    <p>Faça login para visualizar essa página.</p>
    {% endif %}
{% endif %}

<div class="container-fluid d-flex justify-content-center mt-5">
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    
    {% if form.errors %}
    <p class="text-danger">Usuário ou senha incorretos. Tente novamente</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container text-end">
            <div class="mb-1">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Entrar</button>
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
  </div>
</div>

{% endblock %}